## Databases
DB_PG_PORT="-"
DB_PG_HOST="-"
DB_PG_DATABASE="-"
DB_PG_USERNAME="-"
DB_PG_PASSWORD=""
DB_PG_SYNCHRONIZE="true"

## Tatum API KEY
TATUM_MAINNET_API_KEY="-"
TATUM_TESTNET_API_KEY="-"

## Tonapi API KEY
TON_API_API_KEY="-"
TON_API_API_URL="-"
TON_CENTER_API_KEY="-"

## CoinMarketCap API KEY
CMC_API_KEY="-"

## Telegram BOT
TELEGRAM_BOT_TOKEN="-"
TELEGRAM_BOT_USERNAME="-"
